@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --breakpoint-xxl: 1600px;
}

/* ROOT CSS */
:root {
  --color-a: #efefef;
  --color-b: #181818;
  --border-white-25: rgba(255, 255, 255, 0.25);
  --border-1: rgba(24, 24, 24, 0.1);
  --border-2: rgba(24, 24, 24, 0.2);
  --bg-glass: rgba(217, 217, 217, 0.45);
}

/* Reusable CSS */
[x-cloak] {
  display: none !important;
}

.hidden-sm {
  display: none !important;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1700px;
  }
  .sec-padding {
    padding: 100px 0;
  }
}
@media (min-width: 768px) {
  .hidden-sm {
    display: flex !important;
  }
}

.hidden-lg {
  display: none !important;
}
@media (max-width: 768px) {
  .hidden-lg {
    display: inline-flex !important;
  }
}
.color-a {
  color: var(--color-a);
}
.bg-a {
  background: var(--color-a);
}
.color-b {
  color: var(--color-b);
}
.bg-b {
  background: var(--color-b);
}

.bg-glass {
  background: var(--bg-glass);
}

.border-1 {
  border: 1px solid var(--border-1);
}
.border-white-25 {
  border: 1px solid var(--border-white-25);
}
.border-2 {
  border: 1px solid var(--border-2);
}
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-padding {
  padding: 54px 0;
}

@media (max-width: 768px) {
  .sec-padding {
    padding: 30px 0;
  }
}

/* Body CSS */

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Header CSS */

.main-nav li a {
  font-size: 14px;
  color: var(--color-b);
}
@media (min-width: 1920px) {
  .main-nav li a {
    font-size: 18px;
  }
}
.header-right ul li a,
.header-left-mobile ul li a {
  position: relative;
}
.header-right ul li a span,
.header-left-mobile ul li a span {
  position: absolute;
  top: -4px;
  right: -10px;
  background: #fff;
  color: var(--color-b);
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-b);
  border-radius: 20px;
}

.banner {
  height: calc(100vh - 110px);
  width: 100%;
  padding-bottom: 75px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1920px) {
  .banner {
    padding-bottom: 120px;
  }
}

@media (max-width: 768px) {
  .banner {
    background-position: top center;
    padding-bottom: 50px;
    height: calc(100svh - 72px);
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn-sm {
  padding: 8px 20px;
}
.btn-md {
  padding: 12px 25px;
}
@media (min-width: 1600px) {
  .btn {
    padding: 16px 36px;
    font-size: 18px;
  }
  .btn-md {
    padding: 14px 30px;
    font-size: 16px;
  }
  .btn-sm {
    padding: 10px 24px;
    font-size: 15px;
  }
  .btn img,
  .btn-md img,
  .btn-sm img {
    width: 28px !important;
  }
}

.btn-a {
  background: var(--color-a);
  color: var(--color-b);
}
.btn-a img {
  background: var(--color-b);
  padding: 8px;
  border-radius: 50%;
  width: 26px;
}

.btn-a:hover {
  background: var(--color-b);
  color: var(--color-a);
}

.btn-a:hover img {
  background: var(--color-b);
  filter: invert(1);
}

.btn-b {
  background: var(--color-b);
  color: var(--color-a);
}
.btn-b img {
  background: var(--color-a);
  padding: 8px;
  border-radius: 50%;
  width: 26px;
}

.btn-b:hover {
  background: var(--color-a);
  color: var(--color-b);
}
.btn-b img {
  background: var(--color-b);
  filter: invert(1);
}
.btn-b:hover img {
  filter: unset !important;
}

.single-product {
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(24, 24, 24, 0.1);
  border-top: none;
}
.single-product.lg\:col-span-3 img {
  height: 360px;
  object-fit: cover;
}

@media (min-width: 1920px) {
  .single-product.lg\:col-span-3 img {
    height: 500px;
  }
}

.single-product-details {
  padding: 16px 24px;
}
.single-product-details .color-variant li {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgba(24, 24, 24, 0);
  cursor: pointer;
}
.single-product-details .color-variant li .color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  content: "";
  border: 1px solid rgba(24, 24, 24, 0.15);
}
.single-product-details .color-variant li.active {
  border: 1px solid rgba(24, 24, 24, 0.7);
}
.single-product-details .color-variant li.active .color {
  width: 10px;
  height: 10px;
}
.product-overly-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
}

@media (min-width: 1024px) {
  .product-overly-detail {
    padding: 20px 36px;
  }
}

.footer {
  padding-top: 80px;
  margin-top: 60px;
}
@media (min-width: 1920px) {
  .subscriber-box form {
    padding: 10px;
    padding-left: 25px;
  }
}
.social-icons li {
  height: 40px;
  width: 40px;
  border: 1px solid var(--color-b);
  border-radius: 50%;
  transition: 0.3s ease;
}
.social-icons li img {
  width: 20px;
}

.social-icons li:hover {
  transform: translateY(-5px);
  background: var(--color-a);
  filter: invert(1);
}

.social-icons .youtube-icon {
  border-radius: 12px;
  width: 65px;
}

.social-icons .youtube-icon:hover {
  filter: unset;
}

.color-samples li {
  width: 125px;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid #18181822;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.color-samples li.selected,
.color-samples li:hover {
  border-color: #181818;
}
.color-samples li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.size-container ul li {
  width: 70px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid rgba(24, 24, 24, 0.15);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.size-container ul li.selected,
.size-container ul li:hover {
  border-color: #181818;
  font-weight: bold;
}
.size-container {
  width: 100%;
}

.quantity-container {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid rgba(24, 24, 24, 0.45);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.quantity-btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--color-a);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.quantity-btn:hover {
  background: #181818;
}
.quantity-btn:hover img {
  filter: invert(1);
}
@media (min-width: 1600px) {
  .quantity-container {
    width: 180px;
    height: 52px;
    padding: 12px 20px;
  }
  .quantity-btn {
    width: 32px;
    height: 32px;
  }
  .quantity-container .quantity {
    font-size: 20px;
  }
  .quantity-btn img {
    width: 14px;
  }
}
.buttons-containers {
  border: 1px solid rgba(24, 24, 24, 0.45);
  border-radius: 50px;
}
.description-container ul li:not(:last-child) {
  margin-bottom: 16px;
}
.single-product.lg\:col-span-4 .product-image img {
  height: 495px;
  object-fit: cover;
}
.product-right-details {
  position: sticky;
  top: 164px;
}

@media (min-width: 1600px) {
  .left-product-image-container {
    padding-right: 105px !important;
  }
}

@media (max-width: 768px) {
  .btn-sm {
    padding: 6px 15px;
    font-size: 14px;
  }
  .btn {
    gap: 5px;
  }
  .btn img {
    width: 22px;
  }
}

@media (min-width: 1480px) {
  .color-samples li {
    width: 100px;
  }
}
@media (min-width: 1600px) {
  .color-samples li {
    width: 110px;
    border-radius: 20px;
  }
  .size-container ul li {
    width: 90px;
    height: 55px;
    border-radius: 12px;
  }
}
@media (max-width: 768px) {
  .single-product.lg\:col-span-3 img {
    height: 225px;
  }
}

.product-title {
  font-size: 18px;
  font-weight: 600;
}
.product-price {
  font-size: 16px;
}

@media (min-width: 1024px) {
  .product-price {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  .product-title {
    font-size: 24px;
  }
  .product-price {
    font-size: 20px;
  }
  .single-product-details {
    padding: 30px 24px;
  }
}

@media (max-width: 768px) {
  .product-title {
    font-size: 16px;
  }

  .color-variant {
    display: none;
  }

  .product-price {
    margin-top: 5px;
  }
  .single-product.full-image,
  .single-product.full-image-section {
    text-align: center;
  }
  .single-product.full-image .product-image {
    height: 200px;
  }
  .single-product.full-image-section .product-image {
    height: 180px;
  }
  .single-product.full-image .product-image img,
  .single-product.full-image-section .product-image img {
    object-fit: cover;
    height: 100%;
  }
}
